{% extends "notifications/base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }}: Dashboard{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block body %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'dashboard' %}">Notifications Dashboard</a>
        </div>
        <div class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h3>Your User Key</h3>
            <input type="text" value="{{ user.user_key }}" class="form-control centered">
            <h3>Your API Key</h3>
            <input type="text" value="{{ user.auth_token }}" class="form-control centered">
        </div>
        <div class="col-lg-4">
            <form id="send-notification" data-target="{% url 'send_notification' %}">
                <h3>Send Notification</h3>
                {% csrf_token %}

                <div class="form-group">
                    <label for="feed">Feed</label>
                    <select name="feed" class="form-control">
                        {% for feed in feeds %}
                            <option value="{{ feed.pk }}">{{ feed.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control">
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" rows="3" name="message"></textarea>
                </div>


                <span>
                    <button id="send-notification-submit" class="btn btn-primary">Send</button>
                    <span id="send-notification-response" class="error"></span>
                </span>
            </form>

        </div>

        <div class="col-lg-4">
            <h3>Device Registration</h3>
            <p>Scan this QR code using the Notifications app to register the device to your account.</p>
            <img src="http://chart.apis.google.com/chart?cht=qr&chs=300x300&chld=H|0&chl={{ user.auth_token }}" alt="QR Code" class="well col-lg-12">
        </div>
    </div>

    <div class="row">
        <h3>Your Devices</h3>
        {% if devices %}
            <table class="table table-hover table-condensed">
                <thead>
                    <th>
                        Device Name
                    </th>
                    <th>
                        APN Device Token
                    </th>
                    <th>
                        Feed Subscriptions
                    </th>
                </thead>
                <tbody>
                    {% for device in devices %}
                        <tr>
                            <td>
                                {{ device.name }}
                            </td>
                            <td>
                                {{ device.device_token }}
                            </td>
                            <td>
                                {% for feed in device.feed_set.all %}
                                    <span class="label label-info">{{ feed.pk }}: {{ feed.name }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No devices yet. Add one using the QR code above.
        {% endif %}
    </div>

    <div class="row">
        <h3>Your Feeds</h3>
        {% if feeds %}
            <table class="table table-hover table-condensed">
                <thead>
                    <th>
                        Feed Name
                    </th>
                    <th>
                        Notification Count
                    </th>
                    <th></th>
                </thead>

                <tbody>
                    {% for feed in feeds %}
                        <tr>
                            <td>
                                {{ feed.name }}
                            </td>
                            <td>
                                {{ feed.notification_count }}
                            </td>
                            <td>
                                <form action="{% url 'delete_feed' feed.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-xs pull-right">Delete Feed</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No feeds yet. Add one below.
        {% endif %}
    </div>

    <div class="row">
        <form class="form-inline" action="{% url 'create_feed' %}" method="post">
            {% csrf_token %}
            <h4>Create Feed</h4>
            <div class="form-group{% if form_errors %} has-error{% endif %}">
                <input type="text" class="form-control" placeholder="Name{% if form_errors %} invalid{% endif %}" name="name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
